{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

{% include 'home/partials/head.html'  %}

<body>
    {% include 'home/partials/header.html' %}


    <!-- Esse é o conteúdo da landing page. -->
    <main class="content">
        <section class="main_content">
            <div class="main_content_nw">
                <h2 class="main_content_text">Organize e compartilhe todas suas experiências de leituras</h2>
                <img class="main_content_logotipo"src='{% static "/home/img/logotipo.svg" %}' alt="Logotipo da Literalis">
                <button class="main_content_button">Criar conta</button>
            </div>
            <div class="main_content_ne">
                <img class="main_content_marker" src='{% static "/home/img/marker.svg" %}' alt="">
                <img class="main_content_std_elipse_1" src='{% static "/home/img/standard_elipse.svg" %}' alt="">
                <img class="main_content_std_elipse_2" src='{% static "/home/img/standard_elipse.svg" %}' alt="">
                <img class="main_content_image_2" src='{% static "/home/img/elipse_image_2.svg" %}' alt="">
                <img class="main_content_image_1" src='{% static "/home/img/elipse_image_1.svg" %}' alt="">
                <p class="main_content_marker_text">C<br>O<br>N<br>H<br>E<br>Ç<br>A</p>
            </div>     
        </section>
        <!--second section of the page-->
        <section class="second_content">
            <h2 class="second_content_title">Recursos do Literalis</h2>
                <div class="first_box">
                    <h3 class="first_box_title">Compartilhar leitura</h3>
                    <img class="menu_rectangle" src='{% static "/home/img/menu_rectangle.svg"%}' alt="">
                    <p class="first_box_text">Deixe o mundo saber sua opinião sobre sua leitura  e veja o que seus amigos andam lendo</p>
                </div>
                <div class="second_box">
                    <h3 class="second_box_title">Anotações privadas</h3>
                    <img src='{% static "/home/img/menu_rectangle.svg" %}' alt="">
                    <p class="second_box_text">Não deseja compartilhar aquele detalhe importante? Sem problemas, você pode usar seu caderno para fazer anotações privadas</p>
                </div>
                <div class="third_box">
                    <h3 class="third_box_title">Visualize todos seus livros lidos</h3>
                    <img src='{% static "/home/img/menu_rectangle.svg"%}' alt="">
                    <p class="third_box_text">Crie categorias e organize sua prateleira como desejar. Você também pode escolher se seus livros serão públicos ou não</p>
                </div>
                <div class="fourth_box">
                    <h3 class="fourth_box_title">Temporizador de foco</h3>
                    <img src='{% static "/home/img/menu_rectangle.svg"%}' alt="">
                    <p class="fourth_box_text">Quando acionado, o temporizador congela sua tela para evitar distrações e assim você controla os dias em que se manteve focado na leitura</p>
                </div>
                <div class="likeafooter">
                    <img src="/home/img/menu_rectangle.svg" alt="">
                    <p class="footer_text">E muito mais!</p>
                </div> 
        </section>
     </main>
</body>

</html>