@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz@6..72&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px 148px;
    background: url(paper_background.svg)
}

.header_menu {
    display: flex;
    gap: 124px;
}

.content {
    border-top: 1px solid #0000004D;
    width: auto;
}

.main_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: url(paper_background.svg);
}

.main_content_nw {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 289px 650px 259px 250px;
    gap: 50px;
}

.main_content_text {
    font-size: 48px;
    text-align: center;
}

.main_content_logotipo {
    block-size: 122px;
}

.main_content_button{
    border:1px solid #5A5223;
    border-radius:20px;
    background-color: #5A5223;
    display:inline-block;
    cursor:pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size:18px;
    color: #FFFFFF;
    padding:14px 25px;
    text-decoration:none;
    }

.main_content_ne {
    display: flex;
}

.main_content_marker {
    position: absolute;
    block-size: 436px;
    top: 799px;
    right: 233px;
}

.main_content_std_elipse_2 {
    position: absolute;
    block-size: 242px;
    top: 678px;
    right: 30px;
}

.main_content_std_elipse_1 {
    position: absolute;
    block-size: 242px;
    top: 216px;
    right: 328px;
}

.main_content_image_2 {
    position: absolute;
    block-size: 310px;
    top: 528px;
    right: 154px;
}

.main_content_image_1 {
    position: absolute;
    block-size: 279px;
    top: 278px;
    right: 170px;
}

.main_content_marker_text {
    font-size: 37px;
    position: absolute;
    top: 838px;
    right: 295px;
    color: #FFFFFF;
}

.second_content {
    align-items: center;
    justify-content: space-around;
    padding: 175px 0px 100px 0px;
    background: url(paper_background.svg);
    background-color: #A25430;
}

.second_content_title {
    font-size: 36px;
    padding: 25px;
    margin-left: 285px;
}

.second_content_boxes {
    display: flex;
    flex-direction: row;
    padding: 50px 0px;
    gap: 75px;
    justify-content: center;
}

.first_box {
    position: relative;
    display: block;
    background-color: #FEFEFE;
    width: 225px;
    border: 2px solid #5A5223;
}

.first_box_title {
    font-size: 25px;
    text-align: center;
    color: #A25430;
    padding: 25px 0px 40px;
}

.first_box_text {
    font-size: 21px;
    text-align: center;
    margin: 5px;
}

.first_box_rectangle {
    position: absolute;    
    bottom: -45px;
    left: -7px;
}

.second_box {
    position: relative;
    display: block;
    background-color: #FEFEFE;
    width: 225px;        
    border: 2px solid #5A5223;
}

.second_box_title {
    font-size: 25px;
    text-align: center;
    color: #A25430;
    padding: 25px 0px 40px;
}

.second_box_text {
    font-size: 21px;
    text-align: center;
    margin: 5px;
}

.second_box_rectangle {
    position: absolute;    
    bottom: -45px;
    left: -7px;
}

.third_box {
    position: relative;
    display: block;
    background-color: #FEFEFE;
    width: 225px;
    border: 2px solid #5A5223;
}

.third_box_title {
    font-size: 25px;
    text-align: center;
    color: #A25430;
    padding: 25px 0px 10px;
}

.third_box_text {
    font-size: 21px;
    text-align: center;
    margin: 5px;
}

.third_box_rectangle {
    position: absolute;    
    bottom: -45px;
    left: -7px;
}

.fourth_box {
    position: relative;
    display: block;
    background-color: #FEFEFE;
    width: 225px;
    border: 2px solid #5A5223;
}

.fourth_box_title {
    font-size: 25px;
    text-align: center;
    color: #A25430;
    padding: 25px 0px 40px;
}

.fourth_box_text {
    font-size: 21px;
    text-align: center;
    margin: 5px;
}

.fourth_box_rectangle {
    position: absolute;    
    bottom: -45px;
    left: -7px;
}

.likeafooter {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 50px 0px 0px 0px;
}

.footer_text {
    font-size: 23px;
    color: #FEFEFE;
    position: absolute;
    top: 60px;
}